@model Sat.ViewModels.RegisterViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<h2>@localizer["Register new user"]</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email">@localizer["Email"]</label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>


    <div>
        <label asp-for="Name">@localizer["Name"]</label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>


    <div>
        <label asp-for="Password">@localizer["Password"]</label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm">@localizer["Confirm password"]</label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value=@localizer["Register"] />
    </div>
</form>