@model IEnumerable<Task4Core.Models.Collection>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<form class="example" asp-action="Index" method="post">
    <div class="row">
        <div class="col-md-6">
            <select name="Topic" class="select-css" style="float:left" ;>
                <option selected disabled>@localizer["Choose a topic"]</option>
                <option value="">@localizer["All"]</option>
                <option value="Books">@localizer["Books"]</option>
                <option value="Alcohol">@localizer["Alcohol"]</option>
                <option value="Cars">@localizer["Cars"]</option>
            </select>
        </div>
        <div class="col-md-6">
            <div class="form-action no-color">
                <p>
                    <button type="submit" a><i class="fa fa-search"></i></button>
                    <input type="text" placeholder=@localizer["Find by name"] style="margin-right:0" name="searchString" value=@ViewData["CurrentFilter"] />
                </p>
            </div>
        </div>
    </div>
</form>

<table class="table-css">
    <thead>
        <tr>
            <th class="th-css">
                @Html.ActionLink("Collection Name", "Index", new { sortOrder = ViewBag.NameSortParm, searchString = @ViewData["CurrentFilter"] })
            </th>

            <th class="th-css">
                @Html.ActionLink("Item count", "Index", new { sortOrder = ViewBag.ItemSortParm, searchString = @ViewData["CurrentFilter"] })
            </th>

            <th class="th-css">
                @Html.ActionLink("Likes count", "Index", new { sortOrder = ViewBag.LikeSortParm, searchString = @ViewData["CurrentFilter"] })
            </th>
            <th class="th-css">

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td class="td-css">
                    @item.CollectionName
                </td>
                <td class="td-css">
                    @item.ItemCount
                </td>
                <td class="td-css">
                    @item.LikeCount
                </td>

                <td class="td-css" align="right" width=10%>
                    <form asp-controller="Collections" asp-action="CollectionPage">
                        <button type="submit" name="CollectionId" class="btn-more" value=@item.ID>
                            @localizer["More"]
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
