@model IEnumerable<Sat.Models.User>
@{ ViewBag.Title = "Список пользователей"; }
@if (User.Identity.IsAuthenticated)
{

    @using (Html.BeginForm("BlockorDelete", "Users", FormMethod.Post))
    {
        <input type="submit" name="ButtonType" value="Block selected" />
        <input type="submit" name="ButtonType" value="Unblock selected" />
        <input type="submit" name="ButtonType" value="Delete selected" />
        <table class="table">

            <tr>
                <th>
                    <input type="checkbox" id="checkAll" name="checkAll" class="JchkAll" onclick="Selectall();" />
                </th>
                <th>Email</th>
                <th>ID</th>
                <th>UserName</th>
                <th>DataLog</th>
                <th>DataReg</th>
                <th>Status</th>
            </tr>
            @foreach (var user in Model)
            {
                <tr>

                    <td>
                        <input type='checkbox' id="employeeIdsToDelete" name="employeeIdsToDelete" class="JchkGrid" value="@user.Id" />
                    </td>
                    <td>@user.Email</td>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.DataLog.ToShortDateString()</td>
                    <td>@user.DataReg.ToShortDateString()</td>

                    @if (user.LockoutEnabled)
                    {
                        <td>
                            Block
                        </td>

                    }
                    else
                    {
                        <td>Activ</td>
                    }


                </tr>
            }
        </table>

    }
}
<form asp-controller="Account" asp-action="Login" method="post">
    <button type="submit" class="btn btn-sm btn-danger">
        LogOut
    </button>
</form>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    $('.JchkAll').click(function () {
        $('.JchkGrid').prop('checked', this.checked)
    });
    $('.JchkGrid').click(function () {

        if ($(".JchkGrid").length == $(".JchkGrid:checked").length) {
            $('.JchkAll').prop('checked', 'checked')
        }
        else if (this.checked == false) {
            $('.JchkAll').prop('checked', this.checked)
        }
    })


</script>